* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242424;
    font-family: 'Arial';
}

.card__container {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    text-align: center;
    width: 100%;

}

.card {
    background-color: #515151f9;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    height: 50%;
    outline: 1px solid black;
    padding: 20px;
    width: 50%;
}

.card footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social__medias {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 25px;
}

.social__medias img {
    width: 48px;
}

